.header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.highlight-contributor {
    font-weight: bold;
    font-style: italic;
}
.journal-name {
    font-weight: bold;
}

body.team .myroundThumb {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    padding: 0; }
body.team .content .row {
    margin-top: 2em; }

.myList {
    line-height: 10%;
}

.home h4 {
    font-weight: bold; }
.home .header {
    padding-bottom: 0;
    border: none; }


pre {
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
}

pre code {
    padding: 0.5rem;
}
