.header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.highlight-contributor {
    font-weight: bold;
    font-style: italic;
}
.journal-name {
    font-weight: bold;
}
