.htd3 text {
    font: 10px sans-serif; }

svg.htd3 {
    height: 100%;
    display: block;
    overflow: hidden;
    background: #fcfcfc;
    border: 1px solid #aaa; }

.htd3 .legend rect {
    opacity: 0.5;
    stroke: #000;
    stroke-width: 0.2pt; }

.htd3 .track {
    width: 100%; }
    .htd3 .track .base {
        fill: #eee; }
    .htd3 .track .strip {
        fill: #eee; }
        .htd3 .track .strip .outer {
            fill: #eee; }
    .htd3 .track .association .link {
        opacity: 0.5; }
    .htd3 .track .association.selected .link {
        opacity: 0.8; }
    .htd3 .track .association .region.source {
        opacity: 0.5;
        fill: #aaa; }
    .htd3 .track .association .region.target {
        opacity: 0.5;
        fill: #555; }

.htd3 .axis text {
    display: none; }
.htd3 .axis path.domain {
    stroke: #000;
    stroke-width: 0.2pt;
    fill: none; }
.htd3 .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 0.1pt;
    shape-rendering: auto; }

.htd3 .grid path,
.htd3 .grid line {
    fill: none;
    stroke: #888;
    stroke-width: 0.1pt;
    shape-rendering: auto; }
