<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
    <title>Bioinformatics Platform | MDC Berlin</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/default.css">

    <link rel="stylesheet" href="/css/styles/github.css">
    <script src="/js/highlight.pack.js" charset="utf-8"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/projects/htd3/htd3.js" charset="utf-8"></script>
    <link href="/projects/htd3/htd3.css" media="all" rel="stylesheet" type="text/css">

    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body class="{{ page.class }}">
    <div class="row header">
      <div class="large-3 columns">
        <h1><img src="/img/GroupLogo.png"></h1>
      </div>
      <div class="large-9 columns">
        <ul class="right button-group">
          <li><a href="/index.html" class="button [tiny small large]">Home<br>
            </a></li>
          <li><a href="/team.html" class="button [tiny small large]">Team<br>
            </a></li>
          <li><a href="/resources.html" class="button [tiny small large]">Resources<br>
            </a></li>
          <li><a href="/publications.html" class="button [tiny small
              large]">Publications<br>
            </a></li>
          <li><a href="/training.html" class="button [tiny small large]">Training<br>
            </a></li>
          <li><a href="/contact.html" class="button [tiny small large]">Contact<br>
            </a></li>
        </ul>
      </div>
    </div>
    <!-- End Header and Nav -->

    <div class="content row">
      <div class="large-12 columns">
        {{content}}
      </div>
    </div>

    <!-- Footer -->
    <footer class="row"> </footer>
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-4 columns">
          <p style="font-size:0.8em">Designed by Altuna Akalin, powered
            by <a href="http://foundation.zurb.com/">foundation</a><br>
          </p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <a href="https://www.mdc-berlin.de/"> </a>
            <li><a href="https://www.mdc-berlin.de/">MDC</a></li>
            <li><a href="https://www.mdc-berlin.de/13800178/en/bimsb">
                Berlin Institute of Medical Systems Biology(BIMSB)
            </a></li>
            <li><a href="http://www.helmholtz.de/en/">
                Helmholtz Association
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END of Footer -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
